mahotas
numpy
scipy
h5py
scikit-image
requests
cython
git+https://github.com/funkelab/funlib.geometry.git
git+git://github.com/funkey/waterz@8ccd0b308fed604d143577f128420da83ff444da#egg=waterz
git+git://github.com/funkelab/funlib.segment@09246e7aed32210747800906846d03788ca10b81#egg=funlib.segment
